<!DOCTYPE html>
<html>
	<head>
  		<title>ProjThree</title>
  		<%= stylesheet_link_tag    "application", :media => "all" %>
  		<%= stylesheet_link_tag    "bootstrap", :media => "all" %>
  		<%= stylesheet_link_tag    "bootstrap.min", :media => "all" %>
  		<%= stylesheet_link_tag    "bootstrap-responsive", :media => "all" %>
  		<%= stylesheet_link_tag    "bootstrap-responsive.min", :media => "all" %>
  		<%= javascript_include_tag "application" %>
  		<%= javascript_include_tag "bootstrap" %>
  		<%= javascript_include_tag "jquery.min" %>
  		<%= javascript_include_tag "jquery-1.9.1" %>
  		<%= javascript_include_tag "jquery-ui" %>
  		<%= csrf_meta_tags %>
	</head>

	<body>

		<div id="header" class="header">
			
			<marquee behavior="alternate">
				<h1 class="text-center headerText">News Dash Board</h1>
			</marquee>
			
		</div>
	
		<% if current_user %>

			<div id="content_menu" class="contentMenu">
			
				<script>	
					
					$(function() {
						$( "#business_news" ).draggable({ containment: "parent" });
						$( "#sports_news" ).draggable({ containment: "parent" });
						$( "#latest_news" ).draggable({ containment: "parent" });
						$( "#popular_news" ).draggable({ containment: "parent" });
						$( "#view_feedback_page" ).draggable({ containment: "parent" });
						$( "#view_feedbacks" ).draggable({ containment: "parent" });
						$( "#tab_settings" ).draggable({ containment: "parent" });
						$( "#moderate_users" ).draggable({ containment: "parent" });	
						$( "#logout" ).draggable({ containment: "parent" });	
					});

				</script>
			
				<% if @preferences.business_news_preference == 1 %>
									
					<div id="business_news" class="businessNews navbar-inner">
						<span id="business_news_text" class="newsText h5">
							<%= link_to ("Business News"), {:controller => "business_news", :action => "show_business_news"}  %>
						</span>
					</div>
						
				<% end %>

				
			
				<% if @preferences.sports_news_preference == 1 %>
			
					<div id="sports_news" class="sportsNews navbar-inner">
						<span id="sports_news_text" class="newsText h5">
							<%= link_to ("Sports News"), {:controller => "sports_news", :action => "show_sports_news"}  %>
						</span>
					</div>
			
				<% end %>
		
				
			
				<% if @preferences.latest_news_preference == 1 %>
			
					<div id="latest_news" class="latestNews navbar-inner">
						<span id="latest_news_text" class="newsText h5">				
							<%= link_to ("Latest News"), {:controller => "latest_news", :action => "show_latest_news"}  %>
						</span>					
					</div>
		
				<% end %>			
		
				
			
				<% if @preferences.popular_news_preference == 1 %>
			
					<div id="popular_news" class="popularNews navbar-inner">
						<span id="popular_news_text" class="newsText h5">
							<%= link_to ("Popular News"), {:controller => "popular_news", :action => "show_popular_news"}  %>
						</span>
					</div>
						
				<% end %>

				
			
				<% if @preferences.give_feedback_preference == 1 %>
			
					<div id="view_feedback_page" class="submitFeedback navbar-inner">
						<span id="view_feedbackpage_text" class="newsText h5">
							<%= link_to ("Give Feedback"), {:controller => "feedback", :action => "view_feedback_page"}  %>
						</span>
					</div>
				
				<% end %>


				<% if @preferences.view_feedbacks_preference == 1 %>
			
					<div id="view_feedbacks" class="viewFeedback navbar-inner">
						<span id="view_feedbacks_text" class="newsText h5">
							<%= link_to ("View Feedbacks"), {:controller => "feedback", :action => "view_feedbacks"}  %>
						</span>
					</div>
				
				<% end %>


				<% if current_user.role == "admin" %>

					<div id="moderate_users" class="moderateUsers navbar-inner">
						<span id="moderate_users_text" class="newsText h5">
							<%= link_to ("Moderate Users"), {:controller => "user", :action => "view_user_settings_page"}  %>
						</span>
					</div>
			
				<% end %>

				<% if current_user %>

					<div id="tab_settings" class="tabSettings navbar-inner">
						<span id="settings_tab_text" class="newsText h5">
							<a href="#myModal" role="button" class="btn" data-toggle="modal" onclick="settingsPopup()">Settings</a>
						</span>
					</div>

				<% end %>

				<% if current_user %>

					<div id="logout" class="logout navbar-inner">
						<span id="logout_text" class="newsText h5">
							<%= link_to "Logout", destroy_user_session_path, :method => :delete %>
						</span>
					</div>
					

				<% end %>

				
			
			</div>

		<% end %>

		

		<div id="content_layout" class="contentLayout">
			
			<% if flash[:alert] %>
       			<p class="flash-error"><%= flash[:alert] %></p>
       		<% end %>
          
       		<% if flash[:notice] %>
       			<p class="flash-notice"><%= flash[:notice] %></p>
       		<% end %>

			<%= yield %>
			
		</div>

	</body>
	
</html>


<div id="myModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" onload="settingsPopup()">

	<div class="modal-header">
    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    	<h3 id="myModalLabel">Settings</h3>
  	</div>
  
	<div class="modal-body">
    	
		<%= form_for :settings, :url => { :controller => 'settings', :action => 'set_settings', :class => 'settings' } do |f| %>
	
		
			<div id="business_news_check" class="settingCheck">
				<%= check_box_tag(:business_news) %>
				<%= label_tag(:business_news, "Business News", :class => "checkbox inline") %>
			</div>
		
			<br>
		
			<div id="sports_news_check" class="settingCheck">
				<%= check_box_tag(:sports_news) %>
				<%= label_tag(:sports_news, "Sports News", :class => "checkbox inline") %>
			</div>
		
			<br>
		
			<div id="latest_news_check" class="settingCheck">
				<%= check_box_tag(:latest_news) %>
				<%= label_tag(:latest_news, "Latest News", :class => "checkbox inline") %>
			</div>
		
			<br>
		
			<div id="popular_news_check" class="settingCheck">
				<%= check_box_tag(:popular_news) %>
				<%= label_tag(:popular_news, "Popular News", :class => "checkbox inline") %>
			</div>
		
			<br>

			<div id="give_feedback_check" class="settingCheck">
				<%= check_box_tag(:give_feedback) %>
				<%= label_tag(:give_feedback, "Give Feedback", :class => "checkbox inline") %>
			</div>

			<br>
			
			<div id="view_feedbacks_check" class="settingCheck">
				<%= check_box_tag(:view_feedbacks) %>
				<%= label_tag(:view_feedbacks, "View Feedbacks", :class => "checkbox inline") %>
			</div>
		
			<br>

		<%= submit_tag "Save Settings" %>
			
		<% end %> 	

  	</div>
  
  	<div class="modal-footer">


  	</div>

</div>
