	<h2 class="textAlignCenter">Settings</h2>
	
	<%= form_for :settings, :url => { :controller => 'settings', :action => 'set_settings', :method => 'post', :class => 'settings' } do |f| %>
	
		
		<div id="business_news_check" class="settingCheck">
			<%= check_box_tag(:business_news) %>
			<%= label_tag(:business_news, "Business News") %>
		</div>
		
		<br>
		
		<div id="sports_news_check" class="settingCheck">
			<%= check_box_tag(:sports_news) %>
			<%= label_tag(:sports_news, "Sports News") %>
		</div>
		
		<br>
		
		<div id="latest_news_check" class="settingCheck">
			<%= check_box_tag(:latest_news) %>
			<%= label_tag(:latest_news, "Latest News") %>
		</div>
		
		<br>
		
		<div id="popular_news_check" class="settingCheck">
			<%= check_box_tag(:popular_news) %>
			<%= label_tag(:popular_news, "Popular News") %>
		</div>
		
		<br>
		
		<div id="view_feedbacks_check" class="settingCheck">
			<%= check_box_tag(:view_feedbacks) %>
			<%= label_tag(:view_feedbacks, "View Feedbacks") %>
		</div>
		
		<br>
			
		<%= submit_tag "Save Settings"%>
	<% end %> 	
